header{
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  background-color: #C53023;
  color: #fff;
}

footer{
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  background-color: #C53023;
  color: #fff;
}

body {
  margin: 0;
}

.main_container{
  margin: 50px 15px;
}


table {
  border-collapse: collapse;
  border:1px solid #333;
}

table th {
  background-color: #FFDFDF;
  padding: 10px 20px;
  border:1px solid #333;
}

table td {
  background-color: #F9EAE9;
  padding: 10px 20px;
  border:1px solid #333;

}

.notice {
  background-color: #ccf;
  padding: 5px;
}

ul {
  list-style: none;
}

.textdeco{
  text-decoration: none;
}
.memo {
  width: 350px;
  height: 200px;
}

.field {
  width: 350px;
  height: 30px;
}

.all {
  text-align: center;
}

.checktext {
  margin: 0;
}
